body {
  margin: 0;
}

@font-face {
  font-family: "iwr";
  src: url("TradeGothicLT.woff2") format("woff");
}

@font-face {
  font-family: "iwr";
  src: url("TradeGothicLT-BoldTwo.woff2") format("woff");
  font-weight: bold;
}

.iwr-vis {
  position: relative;
  margin: 0 auto;
  width: 100vmin;
  height: 100vmin;
  background: #ffffff;
  font-family: iwr, Arial, Helvetica, sans-serif;
}

a.iwr-vis:link {
  text-decoration: none;
}

a.iwr-vis:visited {
  text-decoration: none;
}

a.iwr-vis:hover {
  text-decoration: none;
}

a.iwr-vis:active {
  text-decoration: none;
}

.iwr-vis-group-card-html {
  font-size: 6px;
  line-height: 6px;
}

.iwr-vis-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.iwr-vis-segment-item {
  cursor: pointer;
}

.iwr-vis-group-item {
  cursor: pointer;
}

.iwr-vis-clickable {
  cursor: pointer;
}

.iwr-vis-group-item:hover .iwr-vis-group-item-box {
  fill: #cccccc;
}
