body {
  margin: 0;
}

.iwr-vis {
  position: relative;
  margin: 0 auto;
  width: 100vmin;
  height: 100vmin;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

a.iwr-vis:link {
  text-decoration: none;
}

a.iwr-vis:visited {
  text-decoration: none;
}

a.iwr-vis:hover {
  text-decoration: none;
}

a.iwr-vis:active {
  text-decoration: none;
}

.iwr-vis-group-card-html {
  font-size: 6px;
  line-height: 7px;
}

.iwr-vis-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.iwr-vis-menu text {
  font-family: Arial, Helvetica, sans-serif;
}

.iwr-vis-segment-item {
  cursor: pointer;
  will-change: opacity;
}

.iwr-vis-group-item {
  cursor: pointer;
  will-change: transform, opacity;
}

.iwr-vis-clickable {
  cursor: pointer;
}

.iwr-vis-segment-item-arc,
.iwr-vis-group-item-box,
.iwr-vis-group-card-box {
  filter: drop-shadow(0 0 1px black);
}

.iwr-vis-group-item:hover .iwr-vis-group-item-box {
  fill: #e8e8f0;
}
