#menu {
  position: relative;
  margin: 0 auto;
  width: 100vmin;
  height: 100vmin;
  background: #ffffff;
}

.application-item:hover {
  filter: brightness(120%);
}

.method-item:hover {
  filter: brightness(120%);
}

.group-item:hover {
  filter: brightness(70%);
}
